/src/Paper/Paper.Browser.Web/bin
/src/Paper/Paper/obj
/src/Paper/Paper.Media/obj
/src/Paper/Paper.Core/obj
/src/Toolset/Toolset/obj
/src/Toolset/Toolset.Text.Template/obj
/src/Toolset/Toolset.Serialization/obj
/src/Toolset/Toolset.Sequel/obj
/src/Paper/Paper.Browser.Web/obj
/src/Paper/Paper/bin
/src/Toolset/Toolset/bin
/src/Paper/Paper.Media/bin
/src/Toolset/Toolset.Sequel/bin
/src/Toolset/Toolset.Serialization/bin
/src/Paper/Paper.Core/bin
/src/Toolset/Toolset.Text.Template/bin
/src/Innkeeper/Innkeeper/obj
/src/Innkeeper/Innkeeper/bin
/src/Innkeeper/Innkeeper/*.user
/src/Innkeeper/Innkeeper.Host.Core/obj
/src/Innkeeper/Innkeeper.Host.Core/bin
/src/Innkeeper/.vs
/src/Innkeeper/Sandbox.Host/bin
/src/Innkeeper/Sandbox.Host/obj
/src/Paper/Paper.Browser.Windows/bin
/src/Sandbox/Sandbox.Host/bin
/src/Interframe/Interframe.Tasks/bin
/src/Interframe/Interframe.Services/bin
/src/Interframe/Interframe.Hosting/bin
/src/Interframe/Interframe.Events/bin
/src/Interframe/Interframe.Diagnostics/bin
/src/Interframe/Interframe.Data.Services/bin
/src/Interframe/Interframe.Data.Bridge/bin
/src/Sandbox/Sandbox/bin
/src/Paper/Paper.Host/bin
/src/Paper/Paper.Media2/bin
/src/Paper/Paper.Media3/bin
/src/Paper/Paper.Browser.Windows/obj
/src/Sandbox/Sandbox.Host/obj
/src/Interframe/Interframe.Tasks/obj
/src/Interframe/Interframe.Services/obj
/src/Interframe/Interframe.Hosting/obj
/src/Interframe/Interframe.Events/obj
/src/Interframe/Interframe.Diagnostics/obj
/src/Interframe/Interframe.Data.Services/obj
/src/Interframe/Interframe.Data.Bridge/obj
/src/Sandbox/Sandbox/obj
/src/Paper/Paper.Host/obj
/src/Paper/Paper.Media2/obj
/src/Paper/Paper.Media3/obj
/.vs/Framework/DesignTimeBuild/*.dtbcache
/.vs/Framework/v16/*.suo
